= f.error_messages
%br
- if logged_in? and @comment.new_record?
  Name
  %br
  %strong= current_user.name
  = f.hidden_field :name, :value => current_user.name
- else
  = f.label :name
  = f.text_field :name, :size => "40"
%br
= f.label :email
%br
= f.text_field :email, :size => "40"
%br
= f.label :comment
%br
= f.text_area :comment, :size => "80x25"
%br
- fancy_submit admin_article_comments_path(@article) do
  = f.submit "Save comment"
