= f.error_messages
- @calendar_select = true
#article-update-info= render :partial => 'admin/shared/help_tip', :locals =>{:tip_headline => "Information on the new Article Form format.", :tip_text => "The Article Form has been revamped to make the process of writing and editing articles simpler. Now, the Title, Blurb, and Body fields are prominently displayed in the main column of the page, while ancillary details have been moved to the side column. Secondary Categories now appear as a drop down box, removing extra clutter from the page."}
- content_for :head do
  
  %script{:type => "text/javascript"}
    function addtext(text) {
    = "document.getElementById('article_body').value += ' ' + text + ' ';"
    }
  %style{:type => "text/css"}
    ==#article_description { margin: 0; }
    ==#secondary-categories { padding: 5px; border: 1px solid #ccc; background: #fff; color: #333; position: absolute; width: 200px; font-size: .9em; height: 200px; overflow: auto; -moz-box-shadow: 0 4px 10px rgba(0,0,0,.6); -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.6); box-shadow: 0 4px 10px rgba(0,0,0,.6); }
    ==#article_description { font-size: .9em; margin-bottom: -4px; width: 260px; }
    ==#article_tag_list { width: 220px; }
    ==#article_title { font-size: 1.2em; width: 550px; }
    ==#article_blurb { width: 550px; font-size: .8em; }
    ==#article_show_description { margin: 0; }
    ==h2.form-label { padding: 10px 0 0 0; margin: 0; }
    ==.notes { margin: 0 0 20px; }
    ==.notes h2 { margin: 0; padding: 0; }
  %script{:type => "text/javascript"}
    jQuery(document).ready(function() {
    jQuery("a#preview-link").fancybox({ 
    'zoomSpeedIn': 300,
    'zoomSpeedOut': 300,
    'overlayShow': true,
    'hideOnContentClick': false,
    'easingOut': 'easeOutQuad',
    'easingIn': 'easeInQuad',
    'type': 'iframe',
    'width': '90%',
    'height': '90%'
    }); 
    }); 
    function setLink(){
    =#=document.cookie = "article_body=" + escape(tinyMCE.get('article_body').getContent())+"; path=/admin/articles/; host=#{self.request.domain}";
    document.getElementById('post_preview_body').value = tinyMCE.get('article_body').getContent();
    document.getElementById('submit-preview').click();
    ==document.getElementById('preview-link').href= '/admin/articles/preview?reload=true&article_id=#{@article.id}&article_title=' + escape(document.getElementById('article_title').value) + '&article_person_id=' + escape(document.getElementById('article_person_id').value) + '&article_article_category_id=' + document.getElementById('article_article_category_id').value + '&article_description=' + escape(document.getElementById('article_description').value) + '&article_show_description=' + document.getElementById('article_show_description').value + '&article_tag_list=' + escape(document.getElementById('article_tag_list').value) + '&article_blurb=' + escape(document.getElementById('article_blurb').value)
    }

#main-details.options
  %h3 Article Details
  - if @editor && !current_user.is_contributor_only?
    - if @article.person.blank? and !@article.title.blank?
      = f.label :author_name, "Author"
      %br
      = f.text_field :author_name, :disabled => true
    - else
      = f.label :person_id, "Author"
      %br
      = f.select :person_id, @possible_authors.collect {|p| [p.name, p.id]}, :selected => (@article.new_record? ? current_user.person_id : @article.person_id)
    %br
  = f.label :article_category_id, "Primary Category"
  %br
  = f.select :article_category_id, ArticleCategory.all.sort_by(&:title).collect {|ac| [ac.title, ac.id]}, {:include_blank => "Select a main category"}, :selected => current_user.id
  - unless current_user.is_contributor_only?
    %div{:class => (!@article.new_record? and @article.article_categories.active.count == 0 ? "bold red" : nil)}
      = f.label :article_category_ids, link_to("Secondary Categories", "javascript:void(0)", :id => "display-secondary-categories")
      = render :partial => 'admin/shared/help_tip', :locals =>{:tip_headline => "", :tip_text => "Secondary Categories are categories an article is associated with that are not the primary category. The article will use settings (such as side column) from the main category, while still appearing on the secondary categories' lists of articles."}
    #secondary-categories
      %img{:src =>"#{css_icon("Cancel","","16x16","red")}", :title =>"close", :alt=> "close box icon", :class => "close-icon", :onclick => "jQuery('#secondary-categories').slideUp()"}
      - for article_category in @article_categories
        %span.article_category_checkbox
          = check_box_tag "article[article_category_ids][]", article_category.id, @article.article_categories.include?(article_category), :id => dom_id(article_category)
          = label_tag dom_id(article_category), "#{article_category.name}"
          %br
    = clear
    = f.label :importance, "Importance"
    = f.select :importance, options_for_select(["Small", "Medium", "Large"], :selected => @article.importance)
    = render :partial => 'admin/shared/help_tip', :locals =>{:tip_headline => "", :tip_text => "Importance determines how large the article summary is. An article with \"Small\" importance will not display an image on the summary page, while an article with \"Large\" importance will display a large image."}
    %br
    = f.label :description, "Short Description"
    = render :partial => 'admin/shared/help_tip', :locals =>{:tip_headline => "", :tip_text => "The Short Description is used for the Meta Description, the side column short description under the title, and the feature box description of the article. In addition, the checkbox beneath this field enables the description to be displayed underneath the Title on the article's page."}
    = f.text_area :description, :style => "width: 250px; height: 40px;"
    %br
    = f.check_box :show_description
    = f.label :show_description, "Show Description under Title on Article.", :class => "note"
    %br
    = f.label :tag_list, "Tags"
    = f.text_field :tag_list, :size => 39
    .note Separate words or phrases with a comma
%h2.form-label= f.label :title
.note
  %span.required *Required
  Article Title is used to generate the article permalink.
= f.text_field :title, :class => "big", :size => 80, :disabled => @disabled

- unless current_user.is_contributor_only?
  %br
  %h2.form-label= f.label :blurb
  .note Displayed on Blog Summary page, under Title. This frequently includes the first paragraph of the Body.
  = f.text_area :blurb, :size => "70x10", :disabled => @disabled

.clear
#body-wrapper
  - unless @disabled
    .options#body-details
      = link_to("#{icon("Search")} Preview Article", "", :id => "preview-link", :class => "icon preview-link", :onclick => "setLink()")
      = render :partial => 'admin/shared/help_tip', :locals =>{:tip_headline => "", :tip_text => "The Preview Button has been added to enable a very quick and simple way to preview what the content of the page will look like once published publicly. Clicking the preview button will pop up a box with the content formatted correctly, including images and videos."}
      .inserts
        %strong Insert:
        %br
        = render :partial => "admin/shared/parser_help"
        - unless @article.id.blank?
          = link_to("#{icon('Picture')} Insert Attached Image", admin_article_images_path(@article, :fancy => "true"), :class => "fancy-iframe")
        = render :partial => "admin/shared/asset_options"
        = render :partial => "admin/shared/insert_map"
    %div{:style => "width: 560px;"}
      %h2.form-label
        = f.label :body
  = f.text_area :body, :size => "100x40", :class => "#{@disabled ? "" : "mceEditor"}", :disabled => @disabled, :style => "width: 550px;"
- unless current_user.is_contributor_only?
  %p.display-notes=link_to("Display Note Field", "javascript:void(0)")
  .notes
    %h2= f.label :notes
    %span.note Will not be shown publicly. Use to save page content while editing.
    = f.text_area :notes, :size => "85x40", :class => "mceEditor"
  - content_for :head do
    %script{:type => "text/javascript"}
      jQuery(document).ready(function() {
      - if @article.publish_immediately
        jQuery("#date-to-publish").hide();
      jQuery("#article_publish_immediately").click(function()
      {
      jQuery("#date-to-publish").slideToggle(250);
      });
      jQuery(".notes").hide();
      jQuery(".display-notes").click(function()
      {
      jQuery(".notes").slideToggle(500);
      });
      jQuery("#secondary-categories").hide();
      jQuery("#display-secondary-categories").click(function()
      {
      jQuery("#secondary-categories").slideToggle(500);
      });
      });
      jQuery(document).ready(function() {
      jQuery(".fancy-iframe").fancybox({ 
      'zoomSpeedIn': 300,
      'zoomSpeedOut': 300,
      'overlayShow': true,
      'hideOnContentClick': 'true',
      'easingOut': 'easeOutQuad',
      'easingIn': 'easeInQuad',
      'type': 'iframe',
      'width': 910,
      'autoScale': true,
      'height':"90%"
      }); 
      });
      function addtext(text) {
      tinyMCE.execInstanceCommand("article_body","mceInsertContent",false,text);
      }
      jQuery(document).ready(function() {
      jQuery(".fancy-inline").fancybox({ 
      'zoomSpeedIn': 300,
      'zoomSpeedOut': 300,
      'overlayShow': true,
      'hideOnContentClick': false,
      'hideOnOverlayClick': false,
      'type': 'inline',
      'showCloseButton' : false,
      'autoScale': true
      });
      });

- if current_user.has_role(["Admin", "Editor", "Author"])
  #publish-immediately
    = f.check_box :publish_immediately
    = f.label :publish_immediately, "Publish Immediately", :id => "publish_immediately_label"
#date-to-publish
  = f.check_box :published if current_user.has_role(["Admin", "Editor", "Author"])
  = f.label :published, "Publish this #{@cms_config['site_settings']['article_title']}"
  = f.label :published_at, "on"

  = f.text_field(:published_at, :value => (@article.published_at.blank? ? Time.now.strftime("%m/%d/%Y %I:%M %p") : @article.published_at.strftime("%m/%d/%Y %I:%M %p")), :class => "datetimepicker")

- unless current_user.is_contributor_only?
  = f.check_box :social_share
  = f.label :social_share, "Show ShareThis link"
  %br
= f.check_box :notify_author_of_comments
= f.label :notify_author_of_comments, "Notify the author when comments are posted for this #{@cms_config['site_settings']['article_title']}"

= clear
- fancy_submit admin_articles_path do
  = f.submit "Save #{@cms_config['site_settings']['article_title']}"
- content_for :pre_footer do
  %div{:style => "width: 1px; height: 1px; overflow: hidden;"}
    - form_remote_tag :url => post_preview_admin_articles_path, :method => "put", :html => {:name => "post_preview"} do
      = text_area :post_preview, :body
      = submit_tag "submit", :id => "submit-preview"