- content_for :head do
  :javascript
    jQuery(document).ready(function() {
    if (jQuery(".newcomment").is(":visible")){
    jQuery(".newcomment").animate({opacity: 1},2000).slideUp("slow");
    };
    });
    
    function getQueryVariable(variable)
    {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i=0;i<vars.length;i++)
    {
    var pair = vars[i].split("=");
    if (pair[0] == variable)
    {
    return pair[1];
    }
    }
    } 
    
    window.onload = function() {
    if (getQueryVariable('reload') == "true")
    {
    window.location = ('/admin/articles/preview?reload=false&article_id=' + getQueryVariable('article_id') + '&article_title=' + getQueryVariable('article_title') + '&article_person_id=' + getQueryVariable('article_person_id') + '&article_article_category_id=' + getQueryVariable('article_article_category_id') + '&article_description=' + getQueryVariable('article_description') + '&article_show_description=' + getQueryVariable('article_show_description') + '&article_tag_list=' + getQueryVariable('article_tag_list') + '&article_blurb=' + getQueryVariable('article_blurb'));
    }
    };
- unless params[:reload] == "true"
  - content_for(:meta_title) { concat h(@article.title) }
  - content_for(:meta_description) { concat h(@article.description) }

  = render :partial => "shared/side_column"
  %h1= link_to yield(:meta_title), @article, :class => "no_underline"
  #article-description= @article.description if @article.show_description?
  = error_messages_for "comment", :header_message => "Your comment could not be posted!", :message => nil

  = render :partial => "/articles/article_stats", :locals => { :article => @article }


  =# render :partial => "/shared/image_box", :locals => { :owner => @article } unless @article.images.empty?

  .article_body
    = ninja_parse(@cms_config['site_settings']['preview']) if @cms_config['site_settings']['preview']

  - if @article.assets_count > 0
    .article_attachments
      %h3 Attachment(s)
      %ul
      -for asset in @article.assets
        %li 
          = link_to asset.name, asset.file.url
          &mdash;
          = asset.file_file_name
  = render :partial => "/shared/sharethis"

  = clear

  = render :partial => "shared/comment_form", :locals => { :owner => @owner}