- unless @article_archive.empty?
  - content_for :side_column do
    %h2 Archives
    %ul.article_months.list_of_links
      - @article_archive.each do |month_year, articles|
        - if params[:month].to_i == month_year.first and params[:year].to_i == month_year.last
          %li.sidebar_link_active= "#{month_name(month_year.first)} #{month_year.last}"
        - else
          %li= link_to "#{month_name(month_year.first)} #{month_year.last}", articles_path(:month => month_year.first, :year => month_year.last)
