- content_for :side_column do
  - unless @recent_articles.empty?
    %h1= @cms_config['site_settings']['blog_title']
    %ul.recent_articles.list_of_links
      - for article in @page.show_events? ? @recent_articles[0..2] : @recent_articles
        %li
          %h2= link_to article.title, article_path(article)
          %span.date= "Published #{time_ago_in_words(article.published_at)} ago"
          %p= article.description.blank? ? truncate(h(article.blurb), :length => 100) : truncate(h(article.description), :length => 100)
          %span.more= link_to "read more", article_path(article)
          = clear
