- content_for :side_column do
  -if @menu.navigatable.permalink == "home" and @settings.articles_cat_right
    = render :partial => "/article_categories/article_categories_for_side_column" 
    -elsif @settings.show_categories_in_sidebar and @menu.navigatable.permalink !="home"
      = render :partial => "/article_categories/article_categories_for_side_column" 
  = render :partial => "/articles/archive_for_side_column" if @settings.show_archive_in_sidebar
  = render :partial => "/articles/authors_for_side_column" if @settings.show_authors_in_sidebar
  = render :partial => "/articles/tags_for_side_column" if @settings.show_tags_in_sidebar

  -if @article_category
    %p= link_to("#{icon("Rss 1")} RSS Feed", article_category_url(@article_category, :format => :rss))
  -else
    %p= link_to("#{icon("Rss 1")} RSS Feed", "/#{path_safe(@cms_config['site_settings']['article_title'])}.rss")