- content_for(:meta_title) { concat h(@article.title) }
- content_for(:meta_description) { concat h(@article.description) }
- content_for :head do
  :javascript
    $(document).ready(function() {
    if ($(".newcomment").is(":visible")){
    $(".newcomment").animate({opacity: 1},2000).slideUp("slow");
    };
    });
  <script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
  "@type": "WebPage",
  =="@id": "#{request.url}"
  },
  =="headline": "#{@article.title}",
  "image": [
  - if @article.images.size > 0
    == "#{@article.images.first.image.url}"
  ],
  =="datePublished": "#{@article.published_at.strftime("%Y-%m-%d")}T#{@article.published_at.strftime("%H:%M:00+08:00")}",
  =="dateModified": "#{@article.updated_at.strftime("%Y-%m-%d")}T#{@article.updated_at.strftime("%H:%M:00+08:00")}",
  "author": {
  "@type": "Person",
  =="name": "#{@article.person.blank? ? @article.author_name : @article.person.name}"
  },
  "publisher": {
  "@type": "Organization",
  =="name": "#{@cms_config['website']['name']}",
  - if @tmplate and (!@tmplate.logo_file_name.blank? or !@global_template.logo_file_name.blank?)
    "logo": {
    "@type": "ImageObject",
    - if !@tmplate.logo_file_name.blank?
      =="url": "#{@tmplate.logo(:original)}"
    - elsif !@global_template.logo_file_name.blank?
      =="url": "#{@global_template.logo(:original)}"
    - else
      =="url": ""
    }
  },
  =="description": "#{@article.description}"
  }
  </script>
= render :partial => "shared/side_column"
= error_messages_for "comment", :header_message => "Your comment could not be posted!", :message => nil

= render :partial => "shared/slice", :locals => {:column_section_id => nil, :controller => "articles", :action => "show"}, :collection => @main_column_sections
