- content_for :meta_title do
  == #{@cms_config['site_settings']['article_title'].pluralize} by category:
  = h @article_category.name

%h1= yield(:meta_title).strip

= render :partial => "/articles/sidebar"

= render :partial => "/articles/article_for_list", :collection => @articles

- unless @articles.total_pages == 1
  = will_paginate @articles

